ul{
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 20px;
    font-size: 18px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
    padding: 5px;
}
.container{
    width: 1300px;
    display: flex;
    flex-wrap: wrap     ;
    margin: auto;
    border: 1px solid red;
}
.blogitems{
    flex-basis: 23%;
    margin: 1%;
    box-shadow: 0px 0px 10px 2px #ccc;
    text-align: center;
    padding-bottom: 10px;
}